# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
.idea/
.vscode/

# Integrationtest state files and generated directories
/integration_tests/terraform/*/.terraform/
/integration_tests/terraform/*/terraform.tfstate*
/integration_tests/terraform/*/.terraform.lock.hcl

# Codegen temporary files
pkg/openapi.json*

# Integration tsts dependency charts
/integration_tests/helm/setup/charts/*.tgz

# Terraform state files and directories in the examples directory
/examples/**/.terraform/
/examples/**/.terraform.lock.hcl
/examples/**/terraform.tfstate
/examples/**/terraform.tfstate.backup
